[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
psycopg2 = "*"
sqlalchemy = "*"
uvicorn = "*"
install = "*"
fastapi-jwt-auth = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
